.workspaces {
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0 1rem;
    background-color: #11111b;
}

.workspace {
    border-radius: 1rem;
    background-color: #1e1e2e;
    margin: 0 0.25rem;
    padding: 0 0.7rem;
    transition: 1.3s;
    &.current {
        background-color: $primary;
        padding: 0 2rem;
    }
}

.workspace:hover {
    background-color: mix($onPrimary, $onSurface, 70%);
    &.current {
        background-color: mix($primary, $onSurface, 70%);
    }
}
